.wrapper {
  position: relative;
  max-width: 1440px;
  height: 634px;
  margin: 0 auto;
  margin-top: 100px;
  background: #7d00df;
}

.container {
  max-width: 769px;
  margin: 0 auto;
}

.boxChapter {
  padding-top: 100px;
}

.chapter {
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  display: flex;
}

.chapterText {
  max-width: 769px;
  color: #ffffff;
  padding-top: 20px;
}

.input {
  width: 370px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #ededed;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  padding-left: 20px;
}

.title {
  color: #ffffff;
  margin-bottom: 8px;
}

.rowOne {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.rowTwo {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.boxButton {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.button {
  width: 182px;
  height: 40px;
  background: #ffffff;
  border-radius: 20px;
  outline: none;
  border: none;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0px 0px 20px #ffffff;
}
.button:active {
  background: #840be7cb;
}

.inputs {
  position: relative;
}
.wrapperModal {
  display: flex;
  justify-content: center;
}

.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20px;
  width: 310px;
  min-height: 100%;
  border: 1px solid rgb(120, 165, 231);
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(43, 90, 220, 0.15);
}

.textModal {
  margin: 20px;
}

.buttonOk {
  margin-top: 20px;
  width: 80px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgb(120, 165, 231);
  border-radius: 10px;
  box-shadow: 0px 4px 30px rgba(43, 90, 220, 0.15);
  outline: none;
  cursor: pointer;
}

.buttonOk:hover {
  box-shadow: 0px 4px 30px rgba(83, 85, 88, 0.562);
}

@media (max-width: 793px) {
  .container {
    margin: 0px 20px;
  }
  .rowOne {
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    margin-top: 30px;
  }
  .rowTwo {
    margin: 20px 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .boxChapter {
    padding-top: 20px;
  }
}

@media (max-width: 544px) {
  .wrapper {
    min-height: 740px;
  }
}

@media (max-width: 416px) {
  .input {
    width: 100%;
  }
}
